
<div class="row" style="margin-top: 100px;">
    <div class="col-6 ">
        <div class="mb-3">
            <br>
            <h1>คำถามที่พบบ่อย(FAQs)</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>ระบบมีการใช้งานอย่างไร</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>ระบบนี้มีข้อดีอย่างไร</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">แอดมินกินข้าวกับอะไร</td>
                        <td></td>
                    </tr>
                    <br>
                </tbody>
            </table>
            <h4>ค้นหาคำถามเพิ่มเติม</h4>
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="text" class="form-control" id="exampleInputText" aria-describedby="textlHelp">
            <div id="textHelp" class="form-text">ระบุคำที่ต้องการค้นหา</div>
        </div>
        <input class="btn btn-primary" type="submit" value="ค้นหา">

    </div>


    <div class="col-1 offset-1">
        <br>
        <img src="https://online.fliphtml5.com/dpvm/xwba/files/thumb/1.jpg">
    </div>
</div>