<div class="row" style="margin-top: 200px;">
    <div class="col-5 ">

        <h1>Kasetsart Sriracha Campus</h1><br>
        <h5>กองบริหารวิชาการและนิสิต
            มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา<br></h5>
        <p>มีปัญหาติดต่อ
            โทร. 038354580-4 ต่อ งานบริการการศึกษา 666531-7<br> งานทะเบียนฯ 666423-6 งานกิจการนิสิต 666600<br>
            email:oasknl@src.ku.ac.th
        </p>
        <a class="btn btn-primary" href="https://reg.src.ku.ac.th/res/" role="button" target = "_blank" >เพิ่มเติม</a>
    </div>


    <div class="col-1 offset-1">
        <img src="https://eng.kps.ku.ac.th/v3/images/news/public/AnnouceKU_art.jpg">
    </div>
</div>
    