
  <div class="row" style="margin-top: 100px;">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-header h5 bg-dark ">
                <font color = "white"> ข้อมูลสำหรับการติดต่อ </font>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">ชื่อ</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">นามสกุล</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">อีเมล</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">หัวข้อเรื่องที่ต้องการติดต่อ</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>**Open this select menu**</option>
                                <option value="1">สอบถามรายละเอียด</option>
                                <option value="2">พบปัญหาการเข้าสู่ระบบ</option>
                                <option value="3">อื่นๆ</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">รายละเอียดการติดต่อ</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="col-12 text-right">
                            <button (click)="getName()" type="button" class="btn btn-primary">Submit</button>
                    
                        </div>
                    </div>
                    
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    